///
///A Map containing the breakpoints used for the project, as weel as for generating the grid classes. The responsive mixins (respond-to, biggerThan and smallerThan) accept either the map keys, strings and variables, so there is no need to reference the map keys in any special way.
///
///Example of their use in a mixin:
///		@include smallerThan(medio) {
///		   //Your code
///		}
///
///@type {map}

$breaks: (
	xs: 450px,
	small: 600px,
	sm: 768px,
	sm-980: 980px,
	menu: 1150px,
	md: 1024px,
	middle: 1200px,
	middle-1250: 1250px,
	lg: $container-max-width,
);

@function b($break) {
	@return map-get($breaks, $break);

}
